html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../assets/background.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Montserrat Alternates", sans-serif;
}

h1, h2, p, span {
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 970px;
}

@media (max-width: 480px) {
    body {
        background: var(--color-main);
        background-image: none;
    }
}